.av-table-jogos-col-codigo, .av-table-jogos-col-icons {
	width: 50px;
	text-align: center;
}

.av-table-jogos-col-nome, .av-table-jogos-col-categoria, .av-table-jogos-col-produtora {
	width: 100px;
	text-align: center;
}

.av-table-jogos-col-console {
	width: 100px;
	text-align: right;
}

.navbar-brand img{
	width: 80px;
}