<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
</head>

<body>

	<section layout:fragment="content">
		<div class="container-fluid">
			<div class="page-header">
				<h3>Listagem - Fornecedores</h3>
			</div>
			<div class="alert  alert-success"
				th:if="${!#strings.isEmpty(mensagem)}">
				<i class="fa fa-check-circle"></i> <span th:text="${mensagem}">Mensagem
					sucesso!</span>
			</div>

			<div class="table-responsive">
				<table id="tabela-produtos"
					class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
					<thead class="aw-table-header-solid">
						<tr>
							<th class="text-center">Código</th>
							<th class="col-md-2">CNPJ</th>
							<th class="col-md-3">Nome</th>
							<th class="col-md-2">Contato</th>
							<th class="col-md-2">E-mail</th>
							<th>Telefone</th>
							<th class="text-center">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="fornecedor: ${fornecedores}">
							<td class="col-md-1 text-center" th:text="${fornecedor.id}">1</td>

							<td th:text="${fornecedor.cnpj}">fornecedor1</td>
							<td th:text="${fornecedor.nome}">123</td>
							<td th:text="${fornecedor.contato}">123</td>
							<td th:text="${fornecedor.email}">123</td>
							<td th:text="${fornecedor.telefone}">123</td>
							<td class="col-md-1 text-center">
								<form method="POST" th:onsubmit="'return confirm(\'Posso remover o fornecedor: ' + 
								${fornecedor.nome} + ' da base de dados?\');'" 
								th:action="@{/fornecedores/excluir/{id}(id=${fornecedor.id})}">
								<a class="btn btn-primary btn-xs" th:href="@{/fornecedores/editar/{id}(id=${fornecedor.id})}"
										th:title="Editar"> <span class="fas fa-pencil-alt acoes"></span>
									</a>
								<input type="hidden" name="_method" value="DELETE"/>
									<button type="submit" class="btn btn-danger btn-xs" title="Excluir">
										<i class="far fa-trash-alt acoes"></i>
									</button>
								</form>
							</td>
						</tr>

						<tr>
							<td colspan="5" th:if="${fornecedores.empty}">Nenhum fornecedor cadastrado!!!</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>

</body>
</html>
