 <!DOCTYPE html>
<html lang="pt"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    layout:decorate="~{layout/layout}">
<head>
</head>

<body>
	<section layout:fragment="content">
		<div class="container-fluid">
			<div class="page-header">
				<h3>Cadastro Ordem de Serviço</h3>
			</div>

			<form method="POST" class="form-vertical  js-form-loading"
				th:object="${ordemServico}" th:action="@{/atendimento/salvar}">
				<div class="alert  alert-danger  alert-dismissible" role="alert"
					th:if="${#fields.hasAnyErrors()}">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>

					<div th:each="erro: ${#fields.detailedErrors()}">
						<i class="fa fa-exclamation-circle"></i>
						
						<span th:text="${erro.message}">Mensagem erro.</span>
					</div>
				</div>

				<div class="alert  alert-success"
					th:if="${!#strings.isEmpty(mensagem)}">
					<i class="fa fa-check-circle"></i>

					<span th:text="${mensagem}">Mensagem sucesso!</span>
				</div>
				
				<input type="hidden" th:field="*{id}"/>    
			        
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label>Emissor</label> 
							<div th:text="${#authentication.principal.nome}" th:field="*{emissor}">
							    The value of the "name" property of the authentication object should appear here.
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="status">Status</label>
		
							<input id="status" type="text" class="form-control" 
								th:field="*{status}"/>
						</div>
					</div>
				</div>
				

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="cliente">Cliente</label>

							<select id="cliente" class="form-control"
								th:field="*{cliente}">
								<option value="">Selecione o cliente</option>
								<option th:each="cliente: ${clientes}"
									th:value="${cliente.id}" th:text="${cliente.nome}">Opção 1</option>
							</select>
						</div>
					</div>

					<div class="col-sm-6">
						<div class="form-group">
							<label for="equipamento">Equipamento</label>
							
							<select id="equipamento" class="form-control"
								th:field="*{equipamento}">
								<option value="">Selecione o equipamento</option>
								<option th:each="equipamento: ${equipamentos}"
									th:value="${equipamento.id}" th:text="${equipamento.descricao}">Opção 1</option>
							</select>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="defeito">Defeito</label>
							<textarea id="defeito" class="form-control" 
								th:field="*{defeitoAparelho}"></textarea>
							
						</div>
					</div>

					<div class="col-sm-6">
						<div class="form-group">
							<label for="estado">Estado</label>
							<textarea id="estado" class="form-control" 
								th:field="*{estadoAparelho}"></textarea>
						</div>
					</div>
				</div>

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
			</form>
		</div>
	</section>
</body>
</html>