.imagem-cliente-login {
	padding: 20px;
	
	text-align: center;
}

.logo_petshop {
	width: 500px;
}
/*------- Página Cliente e Animais -------*/

.nomeDestaque {
	color: blue;
	font-weight: bold;
}

.dadosDestaque p {
	color: blue;
	font-weight: bold;
}

.obrigatorio {
	color: red;
	font-weight: bold;
}