.imagem-cliente-login {
	padding: 20px;
	
	text-align: center;
}

.logo_petshop {
	width: 500px;
}

.logo_menu {
	width: 50px;
    float: left;
    top:50%;
    margin-top: 12px;
}

.menu-centralizado {
	margin-top: 8px;
}

/*------- Menu -------*/

.menu {
  margin: 0;

  font-size: 1.4rem;

  list-style: none;
}

@media(max-width: 991px) {

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    display: none;

    width: 200px;
    padding: 20px;
    border-right: 1px solid #eee;

    background-color: #fbfbfb;
  }

  .menu--exibindo {
    display: block;
	}

  .menu__item {
    display: block;

    line-height: 3;
  }

  .menu__item--botao {
    margin-top: 20px;
  }

}

@media(min-width: 992px) {

  .menu__item {
    display: inline-block;
    padding-right: 20px;
  }

  .menu__item:last-of-type {
    padding-right: 0px;
  }

}

/*------- Formulario -------*/
.grupo-entrada {
	margin-bottom: 15px;
	display: block;
}

.label-padrao {
	font-weight: bold;
}

.campo-padrao {
	width: 100%;
	height: 2.5em;

	font-size: 1.5rem;

	margin-top: 5px;

	border: 1px solid #ccc;
	border-radius: 5px;

	background-color: #fff;
}

.titulo-formulario {
	margin: 0;
	margin-bottom: 20px;
	margin-top: 20px;

	border-bottom: 1px solid #ccc;

	font-size: 2.2rem;
	font-weight: normal;
}

/*------- Página Cliente e Animais -------*/

.nomeCliente {
	color: blue;
	font-weight: bold;
}

.dadosCliente p {
	color: blue;
	font-weight: bold;
}