<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8"/>
        <title>Botão 3D</title>
        <link rel="stylesheet" type="text/css" href="Botao_3D_II.css" />
    </head>
    <body>
        <div class="header">
            <img alt="logo" src="image/logo_site.png">
            
        </div>
        <hr />
        <center>
            <p>
                <font size="12" face="Verdana">Pet Shop - Gestão e Controle</font>
            </p>
        </center>
        <br />
        <center>
        <div id="botoes">
            <button style="width: 150px; height: 150px; color:gray; top: 11;" type="submite"; name="OS" title="Ordem de Serviço">
                <span style="background: url(image/OS.png) left no-repeat; background-size: 100px 100px; padding: 50px 100px 50px"></span>
            </button>
            &#160; &#160;
            <button style="width: 150px; height: 150px; color:gray; top: 11;" type="submite"; name="Laudo">
                <span style="background: url(image/laudo.png) left no-repeat; background-size: 100px 100px; padding: 50px 100px 50px"></span>
            </button>
            &#160; &#160;
            <button style="width: 150px; height: 150px; color:gray; top: 11;" type="submite"; name="Orçamento"> 
                <span style="background: url(image/orcamento.png) left no-repeat; background-size: 100px 100px; padding: 50px 100px 50px"></span>
            </button>
            <br />
            <br />
            <button style="width: 150px; height: 150px; color:gray; top: 11;" type="submite"; name="Relatório">
                <span style="background: url(image/relatorio2.png) left no-repeat; background-size: 100px 100px; padding: 50px 100px 50px"></span>
            </button>
            &#160; &#160;
            <button style="width: 150px; height: 150px; color:gray; top: 11;" type="submite"; name="Pesquisa">
                <span style="background: url(image/pesquisar.png) left no-repeat; background-size: 100px 100px; padding: 50px 100px 50px"></span>
            </button>
            &#160; &#160;
            <button style="width: 150px; height: 150px; color:gray; top: 11;" type="submite"; name="Sair">
                <span style="background: url(image/sair.png) left no-repeat; background-size: 100px 100px; padding: 50px 100px 50px"></span>
            </button>
        </div>
        </center>
    </body>
</html>