<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}">
<head>
<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/lista-jogos.css}" />
</head>

<body>

	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-8">
						<h1>Relatório de OS do dia</h1>
					</div>

					<div class="col-xs-4">
						<div class="aw-page-header-controls">
							<a class="btn btn-primary" th:href="@{/ordemServico/clientes/novo}"> <i
								class="fa fa-plus-square"></i> <span class="hidden-xs hidden-sm">Cadastro
									cliente</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="alert  alert-success"
				th:if="${!#strings.isEmpty(mensagem)}">
				<i class="fa fa-check-circle"></i> <span th:text="${mensagem}">Mensagem
					sucesso!</span>
			</div>

			<h1>Teste de Relatório Diário</h1>
		</div>
	</section>

</body>
</html>
