<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
</head>

<body>

	<section layout:fragment="content">
		<div class="layout-pagina">
		
			<h1 class="titulo-formulario">Cliente: <span class="nomeCliente" th:text="${cliente.nome}"></span></h1>
			
			<div class="alert  alert-success"
				th:if="${!#strings.isEmpty(mensagem)}">
				<i class="fa fa-check-circle"></i>
				<span th:text="${mensagem}">Mensagem sucesso!</span>
			</div>
			
				<input type="hidden" th:field="*{id}" />
				
				<div class="row">
					
					<div class="col-sm-2 dadosCliente">
						<div class="form-group">
							<label for="data_nasc">Data de nascimento</label>
							<p class="form-group" th:text="${cliente.getDataNascFormatada()}"></p>
						</div>
					</div>
					
					<div class="col-sm-2 dadosCliente">
						<label for="sexo">Sexo</label>
						<p class="form-group" th:text="${cliente.sexo}"></p>
					</div>
					
					<div class="col-sm-2 dadosCliente">
						<div class="form-group">
							<label for="cpf">CPF</label>
							<p class="form-group" th:text="${cliente.cpf}"></p>
						</div>
					</div>
					
					<div class="col-sm-2 dadosCliente">
						<div class="form-group">
							<label for="rg">RG</label>
							<p class="form-group" th:text="${cliente.rg}"></p>
						</div>
					</div>
				
					<div class="col-sm-4 dadosCliente">
						<div class="form-group">
							<label for="email">E-mail</label>
							<p class="form-group" th:text="${cliente.email}"></p>
						</div>
					</div>
					
				</div>
				
				<div class="row">
				
					<div class="col-sm-2 dadosCliente">
						<div class="form-group">
							<label for="telefone1">Telefone principal</label>
							<p class="form-group" th:text="${cliente.telefone1}"></p>
						</div>
					</div>
							
					<div class="col-sm-2 dadosCliente">
						<div class="form-group">
							<label for="telefone2">Telefone adicional</label>
							<p class="form-group" th:text="${cliente.telefone2}"></p>
						</div>
					</div>
					
					<div class="col-sm-2 dadosCliente">
						<div class="form-group">
							<label for="cep">CEP</label>
							<p class="form-group" th:text="${cliente.endereco.CEP}"></p>
						</div>
					</div>
					
					<div class="col-sm-6 dadosCliente">
						<div class="form-group">
							<label for="rua">Endereço</label>
							<p class="form-group" th:text="${cliente.endereco.getLogradouro()}"></p>
						</div>
					</div>
					
				</div>
				
				<div class="row">
					
					<div class="col-sm-2 dadosCliente">
						<div class="form-group">
							<label for="bairro">Bairro</label> 
							<p class="form-group" th:text="${cliente.endereco.bairro}"></p>
						</div>
					</div>
					
					<div class="col-sm-6 dadosCliente">
						<div class="form-group">
							<label for="cidade">Cidade</label> 
							<p class="form-group" th:text="${cliente.endereco.cidade}"></p>
						</div>
					</div>
					
					<div class="col-sm-2 dadosCliente">
						<div class="form-group">
							<label for="estado">Estado</label> 
							<p class="form-group" th:text="${cliente.endereco.estado}"></p>
						</div>
					</div>
				
				</div>
				
			<h1 class="titulo-formulario">Animais</h1>

			<div class="table-responsive">
				<table id="tabela-animais"
					class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
					<thead class="aw-table-header-solid">
						<tr>
							<th class="text-center">Código</th>
							<th>Nome</th>
							<th>Idade</th>
							<th>Raça</th>
							<th>Espécie</th>
							<th>Pedigree</th>
							<th class="col-md-1 text-center">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="animal: ${animais}">
							<td class="col-md-1 text-center" th:text="${animal.id}">a1</td>

							<td class="col-md-3">
								<a class="btn btn-info btn-xs" th:href="@{/atendimento/consultas/novo/{id}(id=${animal.id})}"
										th:title="'Incluir Consultas'"> <span class="fa fa-user-md acoes"></span>
									</a>
									<span th:text="${animal.nome}"></span>
								</td>
							<td	th:text="${animal.getIdade()}">idade</td>
							<td class="col-md-1"
								th:text="${animal.raca}">raca</td>

							<td class="col-md-1" th:text="${animal.especie}">especie</td>
							
							<td class="col-md-1" th:text="${animal.getPedigree()}">pedigree</td>

							<td class="col-md-1 text-center">
								<form method="POST"
									th:onsubmit="'return confirm(\'Posso remover o animal: ' + 
								${animal.nome} + ' da base de dados?\');'"
									th:action="@{/clientes/animais/excluir/{id}(id=${animal.id})}">
									<a class="btn btn-success btn-xs" th:href="@{/clientes/animais/servicos/{id}(id=${animal.id})}"
										th:title="'Incluir Serviços'"> <span class="fa fa-cart-arrow-down acoes"></span>
									</a>
									<a class="btn btn-primary btn-xs" th:href="@{/clientes/animais/{id}(id=${animal.id})}"
										th:title="Editar"> <span class="fa fa-pencil-alt acoes"></span>
									</a>
									<button type="submit" class="btn btn-danger btn-xs" title="Excluir">
										<span class="far fa-trash-alt acoes"></span>
									</button>
								</form>
							</td>
						</tr>

						<tr>
							<td colspan="7" th:if="${animais.empty}">Nenhum Animal cadastrado na base de dados para esse cliente!</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</body>
</html>
