<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
</head>

<body>

	<section layout:fragment="content">
		<div class="layout-pagina">
		
			<h1 class="titulo-formulario">Listagem de clientes inativos</h1>
			
			<form method="GET" class="form-horizontal"
				action="/atendimento/clientes/inativos" th:object="${filtro}">
				<div class="form-group">
					<div class="col-sm-4">
						<div class="input-group">
							<input class="form-control"
								placeholder="Qual cliente você está procurando?"
								autofocus="autofocus" th:field="*{nome}"></input> <span
								class="input-group-btn">
								<button type="submit" class="btn btn-default">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</form>

			<div class="table-responsive">
				<table id="tabela-produtos"
					class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
					<thead class="aw-table-header-solid">
						<tr>
							<th class="text-center">Código</th>
							<th class="col-md-3">Nome</th>
							<th>CPF</th>
							<th>Telefone</th>
							<th>e-mail</th>
							<th class="text-center">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cliente: ${clientes}">
							<td class="text-center" th:text="${cliente.id}">1</td>

							<td class="col-md-3" th:text="${cliente.nome}">123</td>
							<td th:text="${cliente.cpf}">123</td>
							<td th:text="${cliente.telefone1}">123</td>
							<td th:text="${cliente.email}">123</td>
							<td class="text-center">
								<a class="btn btn-warning btn-xs"
									th:href="@{/atendimento/clientes/ativar/{id}(id=${cliente.id})}"
									th:title="Re-Ativar"> <span class="fa fa-user-check"></span>
								</a>	
							</td>
						</tr>

						<tr>
							<td colspan="6" th:if="${clientes.empty}">Nenhum cliente inativo
								cadastrado!!</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</section>
</body>
</html>
